#
# Executes commands at the start of an interactive session.
#
# Authors:
#   Sorin Ionescu <sorin.ionescu@gmail.com>
#

# Source Prezto.
if [[ -s "${ZDOTDIR:-$HOME}/.zprezto/init.zsh" ]]; then
  source "${ZDOTDIR:-$HOME}/.zprezto/init.zsh"
fi

# Customize to your needs...

export PATH=$PATH:/usr/local/go/bin:~/go/bin:~/.config/composer/vendor/bin:~/.local/bin

autoload -U compinit
compinit -i

export COMPOSE_BAKE=true

for f in ~/dotfiles/dockerized/*.sh; do source $f; done

# The next line updates PATH for the Google Cloud SDK.
if [ -f '/home/yohan/google-cloud-sdk/path.zsh.inc' ]; then . '/home/yohan/google-cloud-sdk/path.zsh.inc'; fi

# The next line enables shell command completion for gcloud.
if [ -f '/home/yohan/google-cloud-sdk/completion.zsh.inc' ]; then . '/home/yohan/google-cloud-sdk/completion.zsh.inc'; fi
